@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Overpass:wght@100;200;300;400;500;600;700;800;900&family=Palanquin+Dark:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
  min-height: 100%;
  height: 100%;
}

.card {
  @apply rounded-xl bg-gray-900 bg-opacity-75 backdrop-blur-md backdrop-brightness-110 backdrop-saturate-200;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.divided-text {
  @apply w-10/12 overflow-hidden text-center;
}

.divided-text > span {
  @apply relative inline-block;
}

.divided-text > span:before,
.divided-text > span:after {
  content: "";
  @apply absolute top-1/2 mx-5 w-full border-b border-gray-400;
}

.divided-text > span:before {
  @apply right-full;
}

.divided-text > span:after {
  @apply left-full;
}
